body, html {
    margin: 0;
    padding: 0;
}

div, p, h1, h2, h3, h4, h5, h6, span, ul, li, form, input, button {
    box-sizing: border-box;
}

.chart {
    width: 800px;
    height: 500px;
    background: #eee;
    padding: 40px 20px 40px 40px;
    position: relative;
    display: flex;

    &:before {
        content: '';
        width: 0;
        height: calc(100% + 40px);
        border-left: 1px solid #f00;
        flex: 1 1 auto;
        margin-top: -20px;
        margin-bottom: -20px;
    }
    &-container {
        padding-right: 20px;
        flex: 1 1 100%;
        display: flex;
        position: relative;
    }
    &-content {
        display: flex;
        position: relative;
        width: 100%;
    }
    &-bars {
        height: 100%;
        position: relative;
        display: flex;
        flex: 1 1 100%;
        justify-content: center;
        padding: 0 10px;
        
        .only-negatives & {
            position: static;
        }
    }
    &-x-axis {
        width: 100%;
        border-bottom: 1px solid black;
        position: absolute;
        left: 0;
        top: -1px;

    }
    &-scale {
        position: absolute;
        width: 100%;
        height: 0;
        top: 100%;
        margin-right: 20px;
        flex: 0 0 auto;

        .only-negatives & {
            top: 0;
        }

        &-value {
            position: absolute;
            left: -5px;
            width: 10px;
            border-bottom: 1px solid black;
            span {
                position: absolute;
                top: 100%;
                right: 15px;
                transform: translateY(-50%);
            }
        }
    }
}


.bar-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
    flex: 1 1 auto;
    max-width: 150px;
}

.bar {
    background: #999;
    width: 90%;
    display: inline-block;
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-height: 5px;
    &:after {
        content: '';
        width: 900px;
        position: absolute;
        right: 0;
        border-top: 1px dashed #555;
        top: 0;
    }

    &.negative {
        bottom: auto;
        top: 100%;
        &:after {
            top: auto;
            bottom: 0;
        }

        .only-negatives & {
            top: 0;
        }
    }
}