body, html {
    margin: 0;
    padding: 0;
}

div, p, h1, h2, h3, h4, h5, h6, span, ul, li, form, input, button {
    box-sizing: border-box;
}

.chart {
    width: 800px;
    height: 500px;
    background: #eee;
    padding: 40px 20px 40px 40px;
    position: relative;
    display: flex;

    &:before {
        content: '';
        width: 0;
        height: calc(100% + 40px);
        border-left: 1px solid #f00;
        flex: 1 1 auto;
        margin-top: -20px;
        margin-bottom: -20px;
    }
    & &-bars {
        height: 100%;
        position: relative;
        display: flex;
        flex: 1 1 100%;
        justify-content: center;
    }
    & &-container {
        border-bottom: 1px solid #000;
        padding-right: 20px;
        flex: 1 1 100%;
        display: flex;
    }
    &-axis-y {
        position: relative;
        width: 0;
        height: 100%;
        bottom: -1px;
        margin-right: 20px;
        flex: 0 0 auto;

        &-value {
            position: absolute;
            right: -5px;
            width: 10px;
            border-bottom: 1px solid black;
            span {
                position: absolute;
                top: 100%;
                right: 15px;
                transform: translateY(-50%);
            }
        }
    }
}

.chart


.bar-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
    flex: 1 1 auto;
    max-width: 150px;
}

.bar {
    background: #999;
    width: 90%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-height: 5px;

    &.negative {
        bottom: auto;
        top: calc(100% + 1px);
    }
}